@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    position: relative !important;
}
body:before,body:after {
    content: '';
    width: 200px !important;
    height: 200px !important;
    background: #ff722f !important;
    position: absolute !important;
    top: -100px !important;
    left: -100px !important;
    border-radius: 50% !important;
}
body:after {
    top: unset !important;
    left: unset !important;
    bottom: -100px !important;
    right: -100px !important;
}
body {
    overflow: hidden;
    border-radius: 10px !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebebeb;
}
.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
}
.buttons button:active {
  transform: scale(0.99);
}
.operator {
  color: #ff722f;
}
.buttons button:hover {
    background: #ff722f !important;
    color: #fff !important;
}